<div class="spinner-grow" role="status" *ngIf="!loaded">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="loaded">

  <ng-container *ngIf="test.results" >

    <div class="row">
      <div class="col-6" >
        <h4 class="pb-3">Performance Scores</h4>
        <div class="row" >
          <div class="col-6 score" >
            <h6>PageSpeed Score</h6>
            <div class="progress-wrapper">
              <div class="current" [ngStyle]="getOverlayStyle()">{{ test.results.pagespeed_score }}/{{ maxScorePoint }}</div>
              <round-progress
                [current]="test.results.pagespeed_score"
                [max]="maxScorePoint"
                [color]="pageSpeedColor"
                [background]="'#eaeaea'"
                [radius]="radius"
                [stroke]="10"
                [rounded]="true"
                [semicircle]="semicircle">
              </round-progress>
            </div>          
          </div>
          <div class="col-6 score" >
            <h6>YSlow Score</h6>
            <div class="progress-wrapper">
              <div class="current" [ngStyle]="getOverlayStyle()">{{ test.results.yslow_score }}/{{ maxScorePoint }}</div>
              <round-progress
                [current]="test.results.yslow_score"
                [max]="maxScorePoint"
                [color]="yslowSpeedColor"
                [background]="'#eaeaea'"
                [radius]="radius"
                [stroke]="10"
                [rounded]="true"
                [semicircle]="semicircle">
              </round-progress>
            </div>          
          </div>
        </div>
      </div>
      <div class="col-6" >
        <h4 class="pb-3">Page Details</h4>
        <div class="row" >
          <div class="col-12" >
            <div class="score-box" >
              <div class="score-box__item" >
                <h6 class="score-box__title" >Fully Loaded Time</h6>
                <span class="score-box__score">{{ convertMiliseconds(test.results.fully_loaded_time, 's') + 's' }}</span>
              </div>
              <div class="score-box__item" >
                <h6 class="score-box__title" >Total Page Size</h6>
                <span class="score-box__score">{{ convertBytesToKb(test.results.page_bytes) + 'KB'}}</span>
              </div>
              <div class="score-box__item" >
                <h6 class="score-box__title" >Requests</h6>
                <span class="score-box__score">{{ test.results.page_elements }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

  <div class="row mt-5">
    <div class="col-12">
      <h4 class="pb-3">Other Details</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Created At: {{ test.created_at | date : 'medium' }}
        </li>
        <li class="list-group-item">
          Updated At: {{ test.updated_at | date : 'medium' }}
        </li>    
        <li class="list-group-item">
          GTM ID: <a href="{{ test.results.report_url }}" target="_blank" >{{ test.test_id }} <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
        </li>
        <li class="list-group-item">
          State: 
          <ng-container [ngSwitch]="test.state">
            <span *ngSwitchCase="'queued'" class="badge badge-secondary">{{ test.state }}</span>
            <span *ngSwitchCase="'started'" class="badge badge-warning">{{ test.state }}</span>
            <span *ngSwitchCase="'completed'" class="badge badge-success">{{ test.state }}</span>
            <span *ngSwitchCase="'error'" class="badge badge-danger">{{ test.state }}</span>
            <span *ngSwitchDefault class="badge badge-primary">{{ test.state }}</span>
          </ng-container>
        </li>
        <li class="list-group-item" *ngIf="test.error" >
          Error: {{ test.error }}
        </li>
      </ul>

    </div>
  </div>

</div>